/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
    text-align: left;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------- CUSTOM STYLES --------- */

button {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #2E5266;
    width: 100%;
    display: block;
}

body {
    background-color: #D3D0CB;
    color: #2E5266;
}

#mainCanvas {
    height: 20em;
}

#mainCanvas img {
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.main {
    display: -webkit-flex;
    display: flex;
    margin: 10px;
}
.btnGen {
    width: 100px;
    height: 50px;
    margin: 10px 0;
    font-size: 1em;
}
.leftcol {
    width: 45%
}

.rightcol {
    width: 65%;
}
.scores table {
    width: 100%;
}
.scores td, .scores th {
    width: 25%;
    padding: 3px;
    border: solid 2px #D3D0CB;
    border-radius: 5px;
    vertical-align: middle;
}
.scores th {
    font-weight: bold;
    padding: 10px 0;
}

.scores td.red {
    background-color: #2E5266;
    color: #D3D0CB;
}
.scores td.green {
    background-color: #9FB1BC;
    cursor: pointer;
}

.scores td.green:hover {
    background-color: #6E8898;
}

.scores td:nth-child(1) {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .leftcol {
        width: 100%;
    }
    .rightcol {
        width: 100%;
    }
    .scores td {
        height: 2em; /* Makes them easier to touch on mobile */
    }
}